* {
    /* --text: rgb(255, 255, 255);
    --text-inverse: rgb(22, 8, 104);
    --background: rgb(22, 8, 104);
    color: var(--text); */
    font-family: 'Raleway', sans-serif;
}

body {
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(124, 202, 216);

}

.n-bar {

    --text: rgb(124, 202, 216);
    /* --text-inverse: rgb(22, 8, 104); */
    --background: rgb(43, 82, 64);
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: var(--background);
    color: var(--text);

    text-decoration: none;

    border-bottom: 3px solid transparent;

}

.n-bar a {
    color: var(--text);
    margin: 0px 15px;
    text-decoration: none;

    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.n-bar a:hover {
    color: rgb(--text);
    border-bottom: 2px solid var(--text);
    transition: .5s;
}

.n-scrolled {
    --text: rgb(8, 104, 59);
    --background: rgb(124, 202, 216);

    box-shadow: 0 3px 20px rgba(black, 0.2);
}


.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0px 0px 200px 0px;
    padding: 50px;
    background-color: rgb(43, 82, 64);

}

article.info {
    border-left: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: rgb(124, 202, 216);
    font-size: large;
}

article.info::after {
    content: "";
    position: absolute;
    left: -50px;
    top: 50px;
    width: 4px;
    height: 80%;
    background: rgb(124, 202, 216);

    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .5s ease-in;
}

article.info:hover::after {
    transform: scaleY(1);
    transform-origin: top;
}

.profile img {
    height: 300px;
}

button#contact-btn {
    background-color: rgb(43, 82, 64);
    color: rgb(124, 202, 216);
    border: 2px solid rgb(124, 202, 216);
    padding: 5px 10px;
    border-radius: 15px;
    font: inherit;
   
}

button#contact-btn:hover {
    background-color: rgb(124, 202, 216);
    color: rgb(43, 82, 64);
}


.about-me,
.resume,
.projects {
    margin: 100px 20px;
    padding: 20px 50px;
    color: black;
    background-color: rgb(43, 82, 64);
    color: rgb(124, 202, 216);
}


.title {
    padding: 1em 1.5em;
    position: relative;
    left: -30px;
    width: fit-content;
    transition: 1s;
    color: white;


}

.title::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 100%;
    height: 100%;
    border-right: 30px solid rgb(8, 104, 59);

    transform: scaleX(.1);
    transform-origin: left;

    background: rgb(101, 104, 102);
}

.title:hover {
    background-color: rgb(8, 104, 59);
}


.fancy {
    transform: scaleX(1);
    color: rgb(124, 202, 216);
    background: rgb(101, 104, 102);

}

#one-line,
#one-line a {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: rgb(124, 202, 216)
}

.collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects h3 {
    color: rgb(124, 202, 216);
    text-align: center;
}
.projects img{
    height:200px;
    width: 300px;
    transition: .75s ease-in;
}

.project1 ,
.project2 ,
.project3 ,
.project4 ,
.project5 {
    position: relative;
    margin: 20px;
    padding: 10px;
    background-color: white;
    transition: .75s ease-in;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
    background-color: rgb(101, 104, 102); 
}

.project1 p ,
.project2 p ,
.project3 p ,
.project4 p ,
.project5 p {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .75s ease-in;
    color: rgb(124, 202, 216);
    font-weight: bold;
    padding: 2px;
}

.project1:hover p ,
.project2:hover p ,
.project3:hover p ,
.project4:hover p ,
.project5:hover p {
    opacity: 1;
}

.project1:hover img, 
.project2:hover img, 
.project3:hover img, 
.project4:hover img, 
.project5:hover img {
    opacity:.2;
    
}

/* .from-left {
    grid-column: 2/3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 2/3;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition:
        opacity 2.5s ease-in,
        transform 4s ease-in;
    opacity: 0;
}

.from-left,
.from-right {
    transition: translateX(0);
    opacity: 1;
} */


/***********************************************************************/

/* style button */
#myBtn {
    border: 2px solid white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
}

/* adjust style when hovered */
#myBtn:hover {
    color: green;
    background-color: white;

}

/* the modal (background) */
.modal {
    color: white;
    display: none;
    /* hidden by default */
    position: fixed;
    /* stay in place */
    z-index: 5;
    /* sit on top */
    padding-top: 100px;
    /* padding on all sides*/
    left: 0;
    /* location of the box */
    top: 0;
    /* location of the box */
    width: 100%;
    /* full width */
    height: 100%;
    /* full height */
    background-color: rgba(78, 73, 73, 0.767);
    /* black with opacity */
    z-index: 100;
}

/* style modal */
.modal-content {

    margin: auto;
    border: 3px solid white;
    width: 50%;
    /*height: 50%; */
    text-align: center;
    line-height: 200%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 10px;
    min-width: fit-content;

}

span.close {
    position: absolute;
    /* float: right; */
    /* justify-content: end; */
    /* align-items: end; */
    /* align-content: end; */
    display: flex;
    top: 10%;
    left: 72%;
    color: white;

}

@media screen and (max-width: 900px) {

    article.info::after {
        display:none;
    }

    span.close {
        display: none;
    }

    .modal-content {
        width: 80%;
    }
}

/* align a tags */
.modal-content a {
    align-content: center;
    color: white;
    text-decoration: none;

}

/* align icons */
.modal-content i {
    float: left;
}

/* no bullet points */
.modal-content li {
    list-style-type: none;
}

/* everything changes to orange when hovered */
.modal-content li:hover,
.modal-content a:hover,
.modal-content i:hover {
    color: rgb(8, 104, 59);
}

/* style close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 25px;
    padding-top: 20px;
}

/* style close button when hovered */
.close:hover,
.close:focus {
    cursor: pointer;
    color: rgb(8, 104, 59)
}

/****************************************************************/


@media screen and (max-width: 900px) {

    .profile{
        flex-direction: column;
        text-align: center;
    }

    .hws{
        /* display:none; */
        font-size:4vw;
        justify-content: space-between;
    }

    .menu-btn {
        display: block;
        justify-content: end;
    }

    .collection {
        display:flex;
        justify-content: center;
    }

}

@media screen and (max-width: 374px) {

    .project1,
    .project2,
    .project3,
    .project4,
    .project5 {
        margin:0px !important;
        border: 5px solid rgb(43, 82, 64);
        overflow: none;
    }
}